:root {
    --primary-color: #1d293f;
    --secondary-color: #141b2e;
    --third-color: #828999;
  }

  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
  }

  body{
    background: var(--secondary-color);
    background: var(--third-color);
  }

  .dash {
    top: 90px;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: var(--secondary-color);
    padding: 5px;
    color: var(--third-color);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 20px rgba(0.4, 0.4, 0.4, 0.4);
  }

  input[type="text"], input[type="email"], input[type="password"] {
    color: var(--third-color)
  }

  .input-group {
    top: 20%;
    position: relative;
    width: 280px;
    transition: .5s;
  }

  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid var(--third-color);
    outline: none;
    background: transparent;
  }

  .sub-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: var(--secondary-color);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: var(--third-color);
    position: relative;
    top: 30px;
    box-shadow: 0 0 20px rgba(0.4, 0.4, 0.4, 0.4);
  }

  h1 {
    font-size: 45px;
    color: var(--third-color);
    position: relative;
    left: 10%;
  }

  #upload {
    left: 50px;
  }