:root {
    --primary-color: #1d293f;
    --secondary-color: #141b2e;
    --third-color: #828999;
  }

  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  body {
    background: var(--secondary-color);
    color: var(--third-color);
  }

  .dash {
    color: var(--third-color);
    height: 100%;
    width: 86%;
    position: absolute;
    right: 0px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: var(--third-color);
  }

  th, td {
    padding: 25px;
  }

  tr td a i {
    font-size: 20px;
    opacity: 0.5;
    padding: 10px;
  }

  thead {
    opacity: 1;
    border-bottom: 0.5px solid var(--third-color);
  }