:root {
  --primary-color: #1d293f;
  --secondary-color: #141b2e;
  --third-color: #828999;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

body {
  background: var(--secondary-color);
  color: var(--third-color);
}

.dash {
  color: gray;
  height: 95%;
  width: 70%;
  position: relative;
  left: 125px;
  margin: auto;
  top: 90px;
  box-shadow: 0 0 20px rgba(0.4, 0.4, 0.4, 0.4);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: var(--third-color);
}

th, td {
  border: 3px solid var(--secondary-color);
  padding: 10px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0.4, 0.4, 0.4, 0.4);
}

thead {
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px rgba(0.4, 0.4, 0.4, 0.4);
}

@media screen and (max-width: 768px) {

  .sidebar {
    width: 100%;
    height: 630px;
  }

  .logo {
    display: none;
  }

}

@media screen and (max-width: 1310px) {
  .dash {
    display: none;
  }
}