:root {
    --primary-color: #1d293f;
    --secondary-color: #141b2e;
    --third-color: #828999;
  }

  * {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  body {
    background: var(--secondary-color);
    color: var(--third-color);
  }

  .dash {
      color: var(--third-color);
      width: 86%;
      height: 100%;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      color: var(--third-color)
    }

    .input-group {
      top: 250px;
      width: 300px;
      transition: .5s;
    }

    .input-field {
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 1px solid var(--third-color);
      outline: none;
      background: transparent;
    }

    .sub-btn {
      width: 85%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin: auto;
      margin-top: 50px;
      background: var(--secondary-color);
      border: 0;
      outline: none;
      border-radius: 30px;
      color: var(--third-color);
      box-shadow: 0 0 20px rgba(0.4, 0.4, 0.4, 0.4);
    }

      .input-item {
          margin-bottom: 20px;
      }