:root {
  --primary-color: #1d293f;
  --secondary-color: #141b2e;
  --third-color: #828999;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--third-color);
}

.dash {
  color: var(--third-color);
  width: 86%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 20px;
}

.widget {
  padding: 20px;
  position: relative;
  height: 500px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0.4, 0.4, 0.4, 0.4);
}