:root {
  --primary-color: #1d293f;
  --secondary-color: #141b2e;
  --third-color: #828999;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body{
  background: var(--secondary-color);
}

.dash {
    flex: 1;
    height: 100%;
    width: 86%;
    padding: 2px;
    position: absolute;
    display: block;
    right: 0px;
}