:root {
  --primary-color: #1d293f;
  --secondary-color: #141b2e;
  --third-color: #828999;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body{
  background: var(--secondary-color);
}

.sidebar {
  background: var(--primary-color);
  position: fixed;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a, form button {
  display: block;
  padding: 22px;
  color: var(--third-color);
}

.sidebar a i, form button i {
  margin-right: 10px;
}

.logo {
  height: 120px;
  width: 120px;
  background: var(--secondary-color);
  margin: 50px;
  border-radius: 100%;
}

form button {
  display: block;
  padding: 22px;
  width: 120px;
  background-color: var(--primary-color);
  color: var(--third-color);
  border: 0;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}