:root {
  --primary-color: #1d293f;
  --secondary-color: #141b2e;
  --third-color: #828999;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

body {
  background: var(--secondary-color);
}

.sidebar {
  background: var(--primary-color);
  position: fixed;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar a, form button {
  display: flex;
  padding: 22px;
  color: var(--third-color);
  border-radius: 50%;
}

.sidebar a i, form button i {
  margin-right: 10px;
  align-items: center;
}

.section-divider {
  border-top: 0.5px solid var(--third-color);
  width: 100%;
}

.profile {
  height: 140px;
  width: 140px;
  background: var(--secondary-color);
  margin: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 30px var(--third-color);
  overflow: hidden;
}

.profile img {
  height: 142px;
  width: 142px;
}

form button {
  display: block;
  padding: 22px;
  width: 120px;
  background-color: var(--primary-color);
  color: var(--third-color);
  border: 0;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--third-color);
}

h1 {
  font-size: 45px;
}

@media screen and (max-width: 768px) {

  .sidebar {
    width: 100%;
    height: 630px;
  }

  .logo {
    display: none;
  }

}