<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{~/css/dashboard_admin.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <div class="dash">
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
            new TradingView.widget({
                "autosize": true,
                "symbol": "BITSTAMP:BTCUSD",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "Dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "backgroundColor": "#141b2e",
                "hide_top_toolbar": true,
                "allow_symbol_change": true,
                "save_image": false,
                "details": false,
                "calendar": false,
                "hide_volume": true,
                "hideideas": true
            });
        </script>
    </div>

    <div th:insert="sidebar_admin :: admin_sidebar_fragment"></div>
    <div th:include="sidebar_script_admin :: sidebar_script_fragment"></div>
</body>

</html>