<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock Dashboard</title>
    <link rel="stylesheet" th:href="@{~/css/dashboard_admin_profile.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
<div th:insert="sidebar_admin :: admin_sidebar_fragment">
</div>
<br>
<div class="dash">
    <form action="/auth/dashboard/admin/profile" th:action="@{/auth/dashboard/admin/profile}" class="input-group" id="save" th:object="${profile}" method="post">
        <input type="text" placeholder="Username" class="input-field" th:field="*{username}">
        <input type="email" placeholder="Email" class="input-field" th:field="*{email}">
        <input type="text" placeholder="Password" class="input-field" th:field="*{password}">
        <input type="text" placeholder="Role" class="input-field" th:field="*{role}" readonly="readonly">
        <input type="submit" value="Save" class="sub-btn">
    </form>
</div>
</body>
</html>